spring:
  application:
    name: "kafka-multicluster-poc"

  profiles:
    active: "dev"

app:
  name: ${spring.application.name}

  config:
    scheduler:
      threads: 1

      task:
        CheckServerStatusTask:
          cron: "-"

        ServerDataExtraDataReaderTask:
          cron: "-"

    kafka:
      consumer:
        enabled: false

      topic:
        acks_all: topic.acks.all
        acks_1:   topic.acks.1
        acks_0:   topic.acks.0

    server:
      names: ""
