<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homepage - Kafka Multicluster PoC</title>
</head>
<body>
<h1>Kafka Multicluster PoC</h1>
<h2>Homepage</h2>
<h3>Server statuses</h3>
<ul>
    <li th:each="statusItem : ${statusMap}">
        <span th:text="${statusItem.key}"></span>
        =
        <span th:text="${statusItem.value}"></span>
    </li>
</ul>
<h3>Server data</h3>
<ul>
    <li th:each="serverItem : ${serversMap}">
        <span th:text="${serverItem.key}"></span>
        <ul>
            <li th:each="serverData : ${serverItem.value.serverData}">
                <span th:text="${serverData.key}"></span>
                =
                <span th:text="${serverData.value}"></span>
            </li>
        </ul>
    </li>
</ul>

<h3>Topic statistics</h3>
<ul>
    <li th:each="topic : ${topicList}">
        <span th:text="${topic.name}"></span>
        <ul>
            <li>
                Produced = <span th:text="${topic.getProducedCount()}"></span>
            </li>
            <li>
                Consumed = <span th:text="${topic.getConsumedCount()}"></span>
            </li>
            <li>
                Unable to produce = <span th:text="${topic.getUnableToProduceMessagesCount()}"></span>
            </li>
            <li>
                Produced pending to consume = <span th:text="${topic.getPendingMessagesCount()}"></span>
            </li>
            <li>
                Consumed out of sequence = <span th:text="${topic.getOutOfSeqMessagesCount()}"></span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
