<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/header :: metas" />
    <link th:replace="fragments/header :: stylesheets" />

    <title>Topics - Kafka Multi-DC cluster PoC</title>
</head>
<body>
<div class="container-fluid">

    <h1>Kafka Multi-DC cluster PoC</h1>

    <h2>Topics</h2>

    <div th:each="topic : ${topics}">
        <hr>
        <h3 th:text="${topic}"></h3>
        <div th:id="${'bar-' +  topic + '-main'}"
             th:data-topic-name="${topic}"
             class="progress">

            <div th:id="${'bar-' + topic + '-errors'}"
                 th:data-bar-action="errors"
                 class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">errors: 0</div>

            <div th:id="${'bar-' + topic + '-sent'}"
                 th:data-bar-action="sent"
                 class="progress-bar bg-warning"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">sent: 0</div>

            <div th:id="${'bar-' + topic + '-produced'}"
                 th:data-bar-action="produced"
                 class="progress-bar bg-success"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">produced: 0</div>

            <div th:id="${'bar-' + topic + '-pending'}"
                 th:data-bar-action="pending"
                 class="progress-bar bg-warning"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">pending: 0</div>

            <div th:id="${'bar-' + topic + '-consumed'}"
                 th:data-bar-action="consumed"
                 class="progress-bar bg-info"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">consumed: 0</div>

            <div th:id="${'bar-' + topic + '-outofseq'}"
                 th:data-bar-action="outofseq"
                 class="progress-bar bg-warning"
                 role="progressbar"
                 style="width: 0;"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="0">outofseq: 0</div>
        </div>
        <div th:id="${'list-' +  topic + '-main'}">
            <div>
                <strong data-toggle="tooltip" data-placement="top" title="Messages sent to be produced">Sent (no ack)</strong>:
                <small th:id="${'list-' +  topic + '-sent'}">[]</small>
            </div>
            <div>
                <strong data-toggle="tooltip" data-placement="top" title="Messages unable to be produced">Errors producing</strong>:
                <small th:id="${'list-' +  topic + '-errors'}">[]</small>
            </div>
            <div>
                <strong data-toggle="tooltip" data-placement="top" title="Messages produced but not consumed">Pending to consume</strong>:
                <small th:id="${'list-' +  topic + '-pending'}">[]</small>
            </div>
            <div>
                <strong data-toggle="tooltip" data-placement="top" title="Messages consumed but not produced">Out of sequence</strong>:
                <small th:id="${'list-' +  topic + '-outofseq'}">[]</small>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts"></div>
<script th:src="@{/js/topics.js}"></script>
</body>
</html>
